[submodule "design-patterns-java"]
	path = design-patterns-java
	url = https://github.com/RefactoringGuru/design-patterns-java.git
[submodule "all-about-singletons"]
	path = all-about-singletons
	url = https://github.com/dulajra/all-about-singletons.git
